build/
CMakeLists.txt.user*
obj-x86_64-linux-gnu/
debian/*.debhelper.log
debian/*.substvars
debian/*.debhelper
debian/debhelper-build-stamp
debian/files
debian/astra-developer-test-task/
debian/.debhelper/
